body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $gray-medium;
    background-color: $wh;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1822px;
}

.container-sm {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1518px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    min-height: 56px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    color: $wh;
    background-color: $blue-medium;
    cursor: pointer;
}

.title {
    position: relative;
    margin-bottom: 64px;
    padding-bottom: 21px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.16;
    letter-spacing: -0.04em;
    color: $black;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 80px;
        height: 4px;
        border-radius: 2px;
        background-color: $blue-light;
    }
}

.sr-only {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

.slick-arrow {
    position: absolute;
    top: -141px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    font-size: 0;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slick-prev {
    right: 114px;
    border: 1px solid $border;
    background-image: url("../images/prev-arrow.svg");
    background-color: $wh;
}

.slick-next {
    right: 34px;
    border: none;
    background-image: url("../images/next-arrow.svg");
    background-color: $blue-medium;
}

.slick-dots {
    position: absolute;
}
