html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $gray-medium;
  background-color: $wh;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1822px;

  &--sm {
    padding: 0 32px;
    max-width: 1552px;

    @include r($md) {
      padding: 0 16px;
    }
  }
}

.button__links {
  position: absolute;
  left: 50%;
  width: 30px;
  height: 15px;
  cursor: pointer;
}

.links {
  position: absolute;
  left: 50%;
  top: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  padding: 10px;
  border: 1px solid rosybrown;
  background-color: beige;
  cursor: pointer;

  &__active {
    visibility: visible;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  min-height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  color: $wh;
  background-color: $blue-medium;
  cursor: pointer;
}

.title {
  position: relative;
  margin-bottom: 64px;
  padding-bottom: 21px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: $black;

  @include r($xl) {
    font-size: 40px;
  }

  @include r($lg) {
    margin-bottom: 32px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.33;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 4px;
    border-radius: 2px;
    background-color: $blue-light;
  }
}

.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.hero__inner {
  position: relative;

  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 8px;
    display: flex;
    transform: translateX(-50%);

    @include r($xxl) {
      bottom: 45px;
    }

    @include r($sm) {
      bottom: 62px;
    }

    .slick-active {
      button {
        position: relative;
        background-color: $blue-light;

        &::after {
          content: "";
          position: absolute;
          left: -5px;
          top: -5px;
          width: 10px;
          height: 18px;
          background-image: url("../images/elipse.svg");
        }
      }
    }

    li {
      &:not(:last-child) {
        margin-right: 16px;
      }

      button {
        padding: 0;
        width: 8px;
        height: 8px;
        border: none;
        border-radius: 50%;
        font-size: 0;
        cursor: pointer;
      }
    }
  }

  .hero__box {
    display: flex;
    justify-content: space-between;
  }

  .slick-arrow {
    top: 46%;
    padding: 16px;
    border: 1px solid #e4e7e9;
    border-radius: 16px;

    @include r($extra) {
      top: 88%;
    }
  }

  .slick-prev {
    left: -88px;
    background-image: url("../images/top-left.svg");
    background-color: $gray-light;

    @include r($extra) {
      left: 0;
      z-index: 5;
    }
  }

  .slick-next {
    right: -88px;
    background-image: url("../images/top-right.svg");
    background-color: $wh;

    @include r($extra) {
      right: 0;
      z-index: 5;
    }
  }
}

.slick-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 0;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.blog__articles {
  .slick-arrow {
    top: -141px;
    border-radius: 4px;

    @include r($xl) {
      left: 50%;
      top: 107%;
    }
  }

  .slick-prev {
    right: 99px;
    z-index: 5;
    border: 1px solid $border;
    background-image: url("../images/prev-arrow.svg");
    background-color: $wh;

    @include r($xl) {
      transform: translateX(-115%);
    }
  }

  .slick-next {
    right: 19px;
    z-index: 5;
    border: none;
    background-image: url("../images/next-arrow.svg");
    background-color: $blue-medium;

    @include r($xl) {
      transform: translateX(15%);
    }
  }
}

.page-top {
  padding: 120px 0;
  background-color: $gray-light;

  &__content {
    max-width: 576px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.28;
    color: $black;

    @include r($lg) {
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 1.33;
    }
  }

  &__subtitle {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 1.66;
    color: $gray-dark;

    @include r($xl) {
      margin-bottom: 24px;
      font-size: 22px;
      line-height: 1.5;
    }

    @include r($lg) {
      font-size: 14px;
      line-height: 1.57;
    }
  }
}