.question {
  padding: 160px 0;

  @include r($xl) {
    padding: 80px 0;
  }

  @include r($lg) {
    padding: 40px 0;
  }

  &__text-block {
    display: none;

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__item {
    padding: 40px;
    border: 1px solid $border;
    border-radius: 8px;
    background-image: url("../images/accordion.svg");
    background-position: center right 40px;
    background-size: 56px;
    background-repeat: no-repeat;
    cursor: pointer;

    @include r($lg) {
      padding: 32px 24px;
      background-position: center right 24px;
    }

    &:not(:last-child) {
      margin-bottom: 24px;

      @include r($lg) {
        margin-bottom: 16px;
      }
    }

    &--active {
      height: 100%;
      border: 1px solid $gray-light;
      background-image: url("../images/accordion-minus.svg");
      background-position: top 40px right 40px;
      background-color: $gray-light;

      @include r($lg) {
        background-position: top 32px right 24px;
      }

      .question__text-block {
        display: block;
      }

      .question__title {
        margin-bottom: 34px;
        color: $blue-dark;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 56px;
    color: $black;

    @include r($lg) {
      max-width: 600px;
      font-size: 16px;
    }

    @include r($md) {
      max-width: 500px;
      line-height: 36px;
    }

    @include r($sm) {
      max-width: 200px;
    }
  }
}
