.subscription {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;

    @include r($md) {
      flex-direction: column;
      padding: 0 0 48px;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
    width: 50%;
    border-radius: 24px;
    background-color: $gray-light;

    @include r($xl) {
      padding: 100px;
    }

    @include r($lg) {
      padding: 20px;
    }

    @include r($md) {
      margin-bottom: 48px;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    @include r($md) {
      width: 100%;
    }
  }

  &__form {
    max-width: 424px;

    @include r($xl) {
      margin-left: 15px;
    }

    @include r($md) {
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__label--email {
    margin-bottom: 32px;

    @include r($lg) {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: $black;

    @include r($lg) {
      margin-bottom: 32px;
      font-size: 32px;
      line-height: 40px;
    }
  }
}